
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <header>
            <h1>Un sito web</h1>
            <p>This is a simple FastAPI app. </p>
  </header>
  <nav>
    <a href = "/">Home</a>
    <a href = "http://wikipedia.it">Wikipedia</a>
    <a href = "#">Qualcosa</a>
  </nav>
  <div class="container">
    {% block  content%}

    {% endblock %}
  </div>
  <footer>
    <p>&copy; 2026 Programmazione Web UNICA</p>
  </footer>
</body>
</html>